/* HEADER */

header.main-header {
    font-size: 1.4rem;
    border-radius: 37px;
    background-color: var(--clr4);
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    margin-top: 15px;
}

header .header-content {
    width: 90%;
    margin: auto;
    height: 3.35em;
}

/* LOGO */
header .logo {
    font-size: 1.35em;
    font-family: fantasy;
    text-shadow: rgb(43, 43, 43) 3px 0px 0px, rgb(43, 43, 43) 2.83487px 0.981584px 0px, rgb(43, 43, 43) 2.35766px 1.85511px 0px, rgb(43, 43, 43) 1.62091px 2.52441px 0px, rgb(43, 43, 43) 0.705713px 2.91581px 0px, rgb(43, 43, 43) -0.287171px 2.98622px 0px, rgb(43, 43, 43) -1.24844px 2.72789px 0px, rgb(43, 43, 43) -2.07227px 2.16926px 0px, rgb(43, 43, 43) -2.66798px 1.37182px 0px, rgb(43, 43, 43) -2.96998px 0.42336px 0px, rgb(43, 43, 43) -2.94502px -0.571704px 0px, rgb(43, 43, 43) -2.59586px -1.50383px 0px, rgb(43, 43, 43) -1.96093px -2.27041px 0px, rgb(43, 43, 43) -1.11013px -2.78704px 0px, rgb(43, 43, 43) -0.137119px -2.99686px 0px, rgb(43, 43, 43) 0.850987px -2.87677px 0px, rgb(43, 43, 43) 1.74541px -2.43999px 0px, rgb(43, 43, 43) 2.44769px -1.73459px 0px, rgb(43, 43, 43) 2.88051px -0.838247px 0px;
    cursor: default;
}

header .logo span {
    color: #28cc85;
}

.a-logo {
    color: rgb(255, 233, 191);
}


/* NAV */

.main-nav ul>*:not(:last-child) {
    margin-inline-end: 60px;
}

header .nav-link {
    display: inline-block;
    padding: 3.5px 15px;
}

header .nav-link:hover {
    color: var(--clr5);
}

.main-nav .current-page-link {
    background-color: var(--clr11);
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    color: var(--clr2);
    border-radius: 2em;
}

